html {
    font-size: 1rem;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-nav .nav-link:hover {
    font-weight: 700;
}

.navbar-nav .nav-link:active {
    text-decoration: underline;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 2em;
    height: 2em;
    transition: all 0.1s;
    border: 1px solid transparent;
    border-radius: 50%;
}

.socials a i {
    color:rgba(0,0,0,.9);
}

.socials a:hover {
    border: 1px solid rgba(0,0,0,.9);
    background-color: rgba(0,0,0,.9);
}

.socials a:active {
    transform: scale(0.8);
}

.socials a:hover i {
    color: white;
}

#home .img_wrapper {
    height: 65vh;
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#story .img_wrapper {
    min-height: auto;
    height: 45vh;
}

.gallery_item {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: 400ms ease-out;
}

.gallery_item img {
    display: block;
    transition: 0.5s ease-out; 
}

.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.img_descr {
    position: absolute;
    width: 80%;
    height: 100%;
    margin-left: -40%;
    top: 100%;
    left: 50%;
    display: block;
    transition: 1s;
    font-weight: 700;
    text-shadow: 2px 2px 14px rgba(5, 5, 5, 1);
}

.img_descr .btn {
    text-shadow: 2px 2px 14px rgba(5, 5, 5, 1);
}

.gallery_item:hover img {
    filter: blur(3px);
}

.gallery_item:hover .img_descr {
    top: 15%;
}

.feature_item {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feature_item i {
    font-size: 3em;
}

footer .socials {
    justify-content: center;
}

footer .socials a {
    
    margin: 10px;
    width: 2em;
    height: 2em;
    transition: all 0.1s;
    border: 1px solid black;
    border-radius: 50%;
}

footer .socials a i {
    font-size: 1.2em;
}

@media (max-width: 768px) { 
    html {
        font-size: 0.8rem; 
    }
}

@media (min-width:768px) and (max-width: 992px) {
    .img_descr,
    .img_descr .btn {
        font-size: 0.7rem;
    }
}

@media (max-width:768px) {
    .img_descr,
    .img_descr .btn {
        font-size: 1.3rem;
    }
}